<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlavaTalent Playlist Recommendations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.violet.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <!-- Include Vue.js from CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Include Axios from CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
      <header class="container banner">
        <hgroup>
          <h1 class="title">SLAVATALENT</h1>
          <p>Playlist Recommendations</p>
        </hgroup>
      </header>

      <main class="container">
        <section id="rec-form">
          <form @submit.prevent="addTrack">
            <fieldset>
              <input type="text" v-model="trackTitleInput" name="track-title" placeholder="Track Title *" required />
              <input type="text" v-model="artistInput" name="artist" placeholder="Artist *" required />
              <input type="text" v-model="streamingLinkInput" name="streaming-link" placeholder="Streaming Link" />
              <details class="dropdown">
                <summary>
                  Styles
                </summary>
                <ul>
                  <li>
                    <label>
                      <input type="checkbox" v-model="argentineTangoCheckbox" name="argentine-tango" />
                        Argentine Tango
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" v-model="bachataCheckbox" name="liquid" />
                      Bachata
                    </label>
                  </li>
                </ul>
              </details>
              <button type="submit" class="add-track-button">Add</button>
            </fieldset>
          </form>
        </section>
      </main>
    </div>

    <script>
        const { createApp, ref } = Vue;

        createApp({
            setup() {
                const trackTitleInput = ref(null);
                const artistInput = ref(null);
                const streamingLinkInput = ref(null);
                const argentineTangoCheckbox = ref(null);
                const bachataCheckbox = ref(null);
                const data = ref(null);

                const addTrack = async () => {
                    try {
                      const response = await axios.post('/tracks/', {
                        trackTitle: trackTitleInput.value,
                        artist: artistInput.value,
                        streamingLink: streamingLinkInput.value,
                        argentineTango: argentineTangoCheckbox.value,
                        bachata: bachataCheckbox.value
                      });
                    } catch (error) {
                        console.error('Error adding track:', error);
                    }
                };

                return {
                  trackTitleInput,
                  artistInput,
                  streamingLinkInput,
                  argentineTangoCheckbox,
                  bachataCheckbox,
                  addTrack
                };
            }
        }).mount('#app');
    </script>
</body>
</html>
