<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlavaTalent Playlist Recommendations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.violet.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <!-- Include Vue.js from CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Include Axios from CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
      <header class="container site-banner">
        <hgroup>
          <h1 class="site-title">SLAVATALENT</h1>
          <p>Playlist Recommendations</p>
        </hgroup>
      </header>

      <main class="container">
        <section id="addTrackSection">
          <form @submit.prevent="addTrack">
            <fieldset>
              <input type="text" v-model="trackTitleInput" name="title" placeholder="Track Title *" required />
              <input type="text" v-model="artistInput" name="artist" placeholder="Artist *" required />
              <input type="text" v-model="streamingLinkInput" name="streaming-link" placeholder="Streaming Link" />
              <details class="dropdown">
                <summary class="styles-dropdown-summary">
                  Styles
                </summary>
                <ul>
                  <li>
                    <label>
                      <input type="checkbox" v-model="argentineTangoCheckbox" name="argentine-tango" />
                        Argentine Tango
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" v-model="bachataCheckbox" name="bachata" />
                      Bachata
                    </label>
                  </li>
                </ul>
              </details>
              <button type="submit" class="add-track-button">Add</button>
            </fieldset>
          </form>
        </section>
        <section id="trackListSection">
          <article class="track-container" v-for="track in trackList">
            <div class="trackTitle">{{ track.title }}<div>
            <div class="trackArtist">{{ track.artist }}</div>
            <div class="trackStreamingLink"><a href="{{ track.streaming_link }}">{{ track.streaming_link }}</a></div>
            <div class="trackPrettifiedStyles">Styles: {{ track.prettified_styles }}</div>
            <div class="trackTimestamp">Added: {{ track.timestamp }}</div>
          </article>
        </section>
      </main>
    </div>

    <script>
        const { createApp, ref, onMounted } = Vue;

        createApp({
            setup() {
                const trackTitleInput = ref(null);
                const artistInput = ref(null);
                const streamingLinkInput = ref(null);
                const argentineTangoCheckbox = ref(null);
                const bachataCheckbox = ref(null);
                const trackList = ref([]);

                const addTrack = async () => {
                    try {
                      const response = await axios.post('/tracks/', {
                        title: trackTitleInput.value,
                        artist: artistInput.value,
                        streaming_link: streamingLinkInput.value,
                        argentine_tango: argentineTangoCheckbox.value,
                        bachata: bachataCheckbox.value
                      });
                      console.log(response);
                      if ("error" in response.data) {
                        console.log(response.data.error);
                      } else {
                        trackList.value = response.data;
                      }
                    } catch (error) {
                      console.error('Error adding track:', error);
                    }
                };

                onMounted(async () => {
                  console.log("MOUNTED");
                  const response = await axios.get('/tracks/');
                  trackList.value = response.data;
                });

                return {
                  trackTitleInput,
                  artistInput,
                  streamingLinkInput,
                  argentineTangoCheckbox,
                  bachataCheckbox,
                  addTrack,
                  trackList
                };
            }
        }).mount('#app');
    </script>
</body>
</html>
