html, body {
    height: 100%;
    margin: 0;
    font-size: 1.2rem !important;
    letter-spacing: 0.1rem;
}

.banner {
    text-align: center;
}

.title {
    margin-top: 1rem;
    color: #facc65;
    letter-spacing: 0.4rem;
}

.submit-track-button {
    margin-top: 3rem;
}

.trackTitle {
    color: #eee;
    font-size: 1.4rem;
}

.trackArtist, .trackStreamingLink {
    color: #aaa;
    font-size: 1rem;
}
