html, body {
    height: 100%;
    margin: 0;
    font-size: 1.2rem !important;
    letter-spacing: 0.1rem;
}

html {
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the image in the viewport */
    background-position: center center; /* Center the image horizontally and vertically */
    background-size: cover; /* Scale the image to cover the entire element */
}

a {
    text-decoration: none;
}

.site-banner {
    text-align: center;
}

.site-title {
    margin-top: 1rem;
    color: #facc65;
    letter-spacing: 0.4rem;
}

.styles-dropdown-summary {
    font-size: 1rem;
}

.error-message-button {
    color: #eee;
    background: #f44336;
}


.add-track-button {
    margin-top: 1rem;
}

.track-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #333;
}

.trackTitle {
    color: #eee;
    font-size: 1.4rem;
}

.trackArtist {
    color: #bbb;
    font-size: 1.2rem;
}

.trackStreamingLink, .trackPrettifiedStyles, .trackTimestamp {
    color: #aaa;
    font-size: 1rem;
}
