html, body {
    height: 100%;
    margin: 0;
    font-size: 1.2rem !important;
    letter-spacing: 0.1rem;
}

html {
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the image in the viewport */
    background-position: center center; /* Center the image horizontally and vertically */
    background-size: cover; /* Scale the image to cover the entire element */
}
a {
    text-decoration: none;
}

.site-banner {
    text-align: center;
    margin-bottom: 4rem;
}

.site-title {
    margin-top: 1rem;
    color: #facc65;
    letter-spacing: 0.4rem;
}

#error-modal-article {
    background-color: rgb(209, 104, 104);
    color: black;
}

.open-add-track-modal-button-container {
    text-align: center;
}

.styles-dropdown-summary {
    font-size: 1rem;
}

.error-message-button {
    color: #eee;
    background: #f44336;
}

.track-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #333;
}

.trackTitle {
    color: #eee;
    font-size: 1.4rem;
}

.trackArtist {
    color: #bbb;
    font-size: 1.2rem;
}

.trackStreamingLink, .trackPrettifiedStyles, .trackTimestamp {
    color: #aaa;
    font-size: 1rem;
}

dialog[open] { /* Target the open dialog element */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none; /* Override Pico's max-width for modals */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding from the dialog itself */
}

dialog[open] article { /* Target the content inside the dialog */
  width: 100%;
  height: 100%;
  margin: 0; /* Remove default margins from the article content */
  padding: var(--pico-spacing); /* Keep Pico's default content padding if desired */
  display: flex; /* Use flexbox for content layout within the full screen */
  flex-direction: column;
}